body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    background-image: url(/images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar{
    background: url(/images/header.png) no-repeat center center;
    background-size:contain;
    background-color: white;
}


h1{



    font-family: calibri, sans-serif;

}
#button {
    background-color: #ec5555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: calibri, sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

}

#r{
  margin-top: 20px;
  color:#ec5555;
}


#click{
  margin-top: 10%;
  color:#ec5555;
  font-size: 20px;
  text-align: center;

}

hr{
  margin: 0;
  padding: 0;
}

#profileContainer{

  width: 700px;
  background-color: white;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  color: #ec5555;
}

#usrProf{
  padding: 20px;
  margin-bottom: -1rem;
}
#usrHis{
  padding: 20px;
  margin-top: -1rem;
}
